<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/404.css" rel="stylesheet">
</head>
<body>
    
    <div class="page-404">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <!--BEGIN CONTENT-->
                    <div class="inner-circle"><i class="fa fa-home"></i><span>404</span></div>
                    <span class="inner-status">Oops! You're lost</span>
                    <span class="inner-detail">
                        We can not find the page you're looking for.
                        <a href="/index.html" class="btn btn-info mtl"><i class="fa fa-home"></i>&nbsp;
                            Return Main
                        </a> 
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div></div>

</body>
</html>